*, *:before, *:after{
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}


/* ------------------------------
 | MODULAR TYPE SCALE
 | ------------------------------
 | Helps you create type scales that bring natural rhythm,
 | consistency, and balance to your designs.
 |
 | BASE VALUES:
 | - Font Size: 20px / 1.25rem
 | - Line Height: 24px / 1.2
 | - Letter Spacing: 3.5% / 0.035em
 |
 | SCALE:
 | - Ratio: 1.26 - Major Third
 |
 | LINE GRID:
 | - Grid Unit: 4px / 0.25rem
 |
 |
 | Scale ratio is calculated using an equal temperament tuning system.
 | Created with Precise Type / https://precise-type.com
 | Tools & Models by Adonis Raul Raduca
 */

/* --- Font Sizes --- */

:root {
  /* below the base */
  --font-size-2b: 0.8125rem;
  --font-size-1b: 1rem;

  /* the base */
  --font-size: 1.25rem;

  /* above the base */
  --font-size-1: 1.5625rem;
  --font-size-2: 2rem;
  --font-size-3: 2.5rem;
  --font-size-4: 3.125rem;
  --font-size-5: 3.9375rem;
  --font-size-6: 5rem;
}

/* --- Line Heights --- */

:root {
  /* below the base */
  --line-height-2b: 1.2308;
  --line-height-1b: 1.25;

  /* the base */
  --line-height: 1.2;

  /* above the base */
  --line-height-1: 1.12;
  --line-height-2: 1.125;
  --line-height-3: 1.1;
  --line-height-4: 1.12;
  --line-height-5: 1.0794;
  --line-height-6: 1.05;
}

/* --- Letter Spacings --- */

:root {
  /* below the base */
  --letter-space-2b: 0.07em;
  --letter-space-1b: 0.0513em;

  /* the base */
  --letter-space: 0.035em;

  /* above the base */
  --letter-space-1: 0.022em;
  --letter-space-2: 0.0106em;
  --letter-space-3: 0.0025em;
  --letter-space-4: -0.004em;
  --letter-space-5: -0.0094em;
  --letter-space-6: -0.0137em;
}


:root {
  /* --- Colors --- */
  --color-primary: #213b4e;
  --color-secondary: #cecece;
  --color-background: #f5fbff;

  /* --- Font Families --- */
  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Lora', serif;
}


body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-space);
}

/* --- Headers --- */

:is(h1, h2, h3) {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-6);
  line-height: var(--line-height-6);
  letter-spacing: var(--letter-space-6);
  font-family: var(--font-family-serif);
  font-weight: 400;
  color:var(--color-primary);
}
h2 {
  font-size: var(--font-size-4);
  line-height: var(--line-height-4);
  letter-spacing: var(--letter-space-4);
  font-family: var(--font-family-serif);
}
h3 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  letter-spacing: var(--letter-space-1);
  font-family: var(--font-family-serif);
}

p {
  font-family: var(--font-family-sans); 
  font-weight: 400;
  font-size: var(--font-size);
  margin-bottom: 1rem;
  color:var(--color-primary);
}

/* --- Alternative Text Sizes --- */

:is(p, span, a, ul, ol, dl, li, dt, dd, label, blockquote, code) {
  &.small-text {
    font-size: var(--font-size-1b);
    line-height: var(--line-height-1b);
    letter-spacing: var(--letter-space-1b);
  }
  &.large-text {
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    letter-spacing: var(--letter-space-1);
  }
}

.homepage-header {
  background-color: var(--color-background);
}

.logo img {
  max-height:150px;
  width:auto;
}